body{
    margin:0;
}

.message_ajout{
    background-color:green;
    display: flex;
    justify-content: center;
    color:white;
    padding: 10px;
    margin:0;
    position: relative;
}

.fermer_message{
    position: absolute;
    left: 90%;
    background-color: transparent;
    border-radius: 5px;
    height: 100%;
    top:0;
    border: none;
    transition: 0.2s;
}

.fermer_message:hover{
    background-color: red;
    border: 1px solid darkred;
}