.ligne_formulaire{
    display: flex;
    margin : 20px 0;
}

input[type='text'], input[type='email']{
    margin-left : 10px;
    border-color: lightgray;
    border-radius: 5px;
    padding: 3px 10px;
    width: 30vw;
}

input[type='number']{
    margin-left : 10px;
    border-color: lightgray;
    border-radius: 5px;
    padding: 3px 10px;
}

input[type='tel']{
    margin-left : 10px;
    border-color: lightgray;
    border-radius: 5px;
    padding: 3px 10px;
}

select{
    margin-left : 10px;
    border-color: lightgray;
    border-radius: 5px;
    padding: 3px 10px;
}

h2{
    text-align: center;
}

textarea{
    margin-left : 10px;
    border-color: lightgray;
    border-radius: 5px;
    padding: 3px 10px;
    width: 30vw;
}

.description{
    display: flex;
    margin : 20px 0;
    align-items: baseline;
}

.contrat h3, .salaire h3{
    margin-top: 0;
}

.horaire{
    margin-top: 10px;
}

.duree_contrat{
    display: flex;
    align-items: center;
}

.conteneur_formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

form{
    border: 1px solid grey;
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 10px 30px;
}

#map{
    margin: 10px;
    height: 350px;
}
.submit{
    display: flex;
    justify-content: center;
}
button{
    border-radius: 5px;
    padding: 5px 10px 3px;
    transition-duration: 0.5s;
}

button:hover{
    transform: scale(1.1);
}

.mois, .jours{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.indetermine{
    margin-left: 20px;
}

#retour_offres{
    margin-left: 30px;
}

.duree{
    display: flex;
    align-items: center;
}