/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 

.listeEmploi.banniere_unique{
  grid-column: 1/4;
  justify-self: center;
}

.listeEmploi.banniere_unique_mobile, .listeEmploi.banniere_unique_tablette{
  display: none;
}


.recherche_button{
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}

#distance{
  margin: 0 10px;
  position: relative;
  height: 100%;
}


.recherche{
  position: relative; 
}


#distance_icon, #recherche_secteur_icon {
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  z-index: 1;
  font-size: 24px;
}

#liste_distance{
  padding: 5px;
  padding-left: 45px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 0px rgb(188, 188, 188);
  font-size: 16px;
  height: 37px;
  background-color: white;
  width: 100%;
}

#recherche_input{
  padding: 5px;
  padding-left: 45px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 0px rgb(188, 188, 188);
  font-size: 16px;
  height: 37px;
  background-color: white;
}

#recherche{
  padding : 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: #D90017!important;
  margin-left: 10px;
  text-transform: capitalize;
  text-shadow: none;
  color: white;
  position: relative;
  transition-duration: 400ms;
  transition-property: transform;
  border: none;
  font-family: sans-serif;
}

#recherche:hover{
  transform: scale(1.1);
}

#recherche > span:first-child{
  margin-right: 5px;
  font-size: 20px;
}


#liste_offres{
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap : 30px;
  padding : 0 10px;
  box-sizing: border-box;
}

.offre{
  display:flex;
  flex-direction: column;
  background-color: white;
  padding:30px;
  justify-content: space-between;
  position: relative;
  box-shadow: 1px 3px #DEDEDE;
  border-radius: 3px;
  transition-duration: 400ms;
  transition-property: box-shadow;
}

.offre_interne{
  padding: 10px 10px 10px 10px;
}

.offre:hover{
  box-shadow: 0 0 3px 5px #DEDEDE;
}

.offre:hover .bouton_lien_fiche, .offre:hover .bouton_lien_offre_interne{
  background-color: #D90017!important;
}

.corps_offre{
  display: flex;
  flex-direction: column;
}

.offre_interne > .corps_offre{
  flex-direction: row;
}

.gauche_offre_interne{
  width: 30%;
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom : 10px;
}

.droite_offre_interne{
  width: 70%;
  padding: 0 10px;
}

.conteneur_image_offre_interne{
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 10px;
  border-radius: 3px;
}

.image_offre_interne{
  border-radius: 3px;
}

.logo_offre_interne{
  width: calc( 100% - 60px );
}

.vignette_offre_interne{
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

.gauche_offre_interne .ville, .gauche_offre_interne .contrat{
  padding: 0 10px;
  margin-right: 0;
  margin-bottom: 10px;
}

.corps_offre .droite_offre_interne > h2{
  margin-bottom: 10px;
}

.lien_fiche{
  text-decoration: none;
  align-self: flex-end;
}

.lien_offre_interne{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.lien_fiche_big{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.corps_offre h2{
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  word-break: break-word;
  hyphens: auto;
  margin-top:0 !important;
  color: black;
}

.details{
  display: flex;
  margin-bottom: 15px;
  color: black;
}

.detail_offre_interne{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
  color: black;
}

.ville{
  display: flex;
  margin-right: 25px;
  align-items: center;
  color: #D90017;
  hyphens: auto;
}

.contrat{
  display: flex;
  align-items: center;
  color: #D90017;
  hyphens: auto;
}

.ville h3, .contrat h3{
  margin : 0;
  margin-left: 10px;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.nom_entreprise{
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin:0;
  color: black !important;
}

.description{
  color: grey;
  font-size: 12px;
  margin : 10px 0 15px;
}

.bouton_lien_fiche{
  padding : 0.5rem 1rem;
  border-radius: 5px!important;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: black!important;
  letter-spacing: 1px;
  transition-duration: 400ms;
  transition-property: background-color;
}

.bouton_lien_offre_interne{
  padding : 5px 10px;
  border-radius: 5px!important;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: black!important;
  transition-duration: 400ms;
  transition-property: background-color;
}

.paginationjs{
  justify-content: center;
  margin-top: 34px;
}

.paginationjs-page.active > a{
  background-color: #D90017!important;
}


@media screen and (min-width: 980px){
  .emploi-filters .ui-group{
    left: 0% !important;
    transform: translateX(0%) !important;
  }
  .emploi-filters .button_tri_emploi button{
    max-height: 100%;
    height: 100%;
  }
}

.emploi-filters{
  display: flex;
  justify-items: start;
  font-size: 0.7em;
  margin-top: 40px;
}

.emploi-filters .button_tri_emploi{
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}
.emploi-filters .button_tri_emploi button{
  padding : 5px 10px;
  border: none;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 5px;
  background-color: #E0E0E0 !important;
  text-transform: none;
  color: #000;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  position: relative;
  max-height: 100%;
  height: 100%;
  transition-duration: 400ms;
  transition-property: background-color, color;
}
.emploi-filters .button_tri_emploi button:hover{
  background-color: #D90017 !important;
  color: #fff;
}
.emploi-filters .button_tri_emploi button span{
  margin-right: 12px;
}
.emploi-filters .button_tri_emploi button span:nth-child(2){
  position: absolute;
  right: 0;
}

.emploi-filters .ui-group{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.ui-group select{
  width: 100%;
}

.emploi-filters .button_tri_emploi button:active{
  box-shadow: none;
}

.modal_filtre_offre_emploi{
  background-color: white;
  border-radius: 5px;
  height: 0px;
  width: 0px;
  z-index: -150;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_filtre_offre_emploi .close button{
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1em;
  padding: 0;
}

.modal_filtre_offre_emploi .close button:active{
  background-color: transparent;
  box-shadow: none;
}

.modal_filtre_offre_emploi .close span{
  background-color: black;
  color: white;
  padding: 2px;
  font-size: 1em;
  border-radius: 50px;
}

.modal_filtre_offre_emploi .search span{
  color: #78797E;
  position: absolute;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
  padding:2px;
  cursor: pointer;
}

.modal_filtre_offre_emploi .search input{
  width: 100%;
  height: 3em;
  background-color: #EFEFEF;
  border-style: none;
  text-indent: 50px;
}

.modal_filtre_offre_emploi .intertitre{
  margin-top: 3em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
}

.modal_filtre_offre_emploi .intertitre2{
  font-size: 0.8em;
  font-weight: 700;
  color: black;
}

.overlay_filtre_offre_emploi{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.178);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -140;
  cursor: pointer;
  opacity: 0;
}

.modal_filtre_offre_emploi .valider button{
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  text-transform: none;
  min-width: 150px;
  font-weight: 400;
}

.modal_filtre_offre_emploi .valider:active{
  box-shadow: none;
  background-color: #D90017;
}
.modal_filtre_offre_emploi .valider:hover{
  box-shadow: none;
  background-color: #D90017 !important;
}

#filtre_flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#filtre_flex_recherche{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

input[type=checkbox]{
  margin-right: 0.3em;
}

.modal_filtre_offre_emploi .filtre{
  position:relative;
  margin: 0 2em;
  overflow-y: scroll;
  height: calc(100% - (3em + 24px + 2em + 119px + 20px));
}

.filtre .ui-group .liste_commune_filtre{
  display:flex;
  align-items: center;
  width: 48%;
}

.liste_commune_filtre a{
  position: relative;
  color: black;
  width: 100%;
  margin: 10px;
  border-bottom: solid;
  padding-bottom: 10px;
  border-width: 2px;
  border-color: #E0E0E0;
}
.liste_commune_filtre a:hover{
  color: #D90017;
  border-bottom-color: red;
}
.liste_commune_filtre a:hover label{
  color: #D90017;
}
.filtre .ui-group .liste_type_contrat_filtre{
  display:flex;
  align-items: center;
  border-color: #E0E0E0;
  width: 48%;
}
.liste_type_contrat_filtre a{
  position: relative;
  color: black;
  width: 100%;
  margin: 10px;
  border-bottom: solid;
  padding-bottom: 10px;
  border-width: 2px;
  border-color: #E0E0E0;
}
.liste_type_contrat_filtre a:hover{
  color: #D90017;
  border-bottom-color: red;
}
.liste_type_contrat_filtre a:hover label{
  color: #D90017;
}
.couleur_filtre a{
  color: #D90017;
  border-bottom-color: red;
}
@media screen and (max-width: 520px){
  .filtre .ui-group .liste_commune_filtre{
    width: 100%;
  }
  .filtre .ui-group .liste_type_contrat_filtre{
    width: 100%;
  }
}
@media screen and (min-width: 980px){
  .modal_filtre_offre_emploi{
    max-width: 70%;
    max-height: 80%;
  }
/*  .modal_filtre_offre_emploi .filtre{
    height: 50%;
  }*/
}
@media screen and (min-width: 1000px){
  .filtre .ui-group .liste_commune_filtre{
    width: 33%;
  }
  .filtre .ui-group .liste_type_contrat_filtre{
    width: 33%;
  }
}

@keyframes pump {
  from{
    transform: scale(1.0);
  }
  to{
    transform: scale(1.5);
  }
}


.modal_filtre_offre_emploi .filtre::-webkit-scrollbar {
  width: 0.5em;
}

.modal_filtre_offre_emploi .filtre::-webkit-scrollbar-track { 
  background-color: #E0E0E0;
  border-radius: 10px;
}

.modal_filtre_offre_emploi .filtre::-webkit-scrollbar-thumb {
  background-color: #BDBDBD!important;
  border-radius: 10px;
  height: 3px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
}

.modal_filtre_offre_emploi .filtre::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.ui-autocomplete{
  z-index: 151;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}
.ui-autocomplete::-webkit-scrollbar {
  display: none;
}

.ui-menu-item {
  display: none; /* Masquer les éléments de la liste des suggestions */
}

.autocomplete-hidden.ui-state-focus {
  background-color: transparent !important; /* Désactiver le soulignement en bleu */
  outline: none; /* Désactiver l'encadré de mise au point */
}

.legende_tri{
  display:flex;
  margin-top: 20px;
  justify-content:center;
  margin-bottom:60px;
}

.legende_tri a span{
  color: black;
  font-size: 0.6em;
}
.legende_tri a:hover{
  border-bottom: solid black;
  border-width: 1px;
}

.sous_titre_h1{
  font-size: 12px;
  color : grey;
  margin-right: 3em;
}
.supp_tri{
    font-size: 12px;
    color: grey;
    cursor:pointer
}
.supp_tri:hover{
    border-bottom: solid;
    border-width: 1px;
}

.ui-menu-item {
  display: block !important;
}

.invisible-suggestions {
  display: none !important;
}

.pagination{
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
}

.pagination strong{
  padding: 13px 20px;
  background: #D90017 0% 0% no-repeat padding-box;
  border-radius: 2px;
  text-align: center;
  font: normal normal bold 14px/19px Montserrat;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
}

.pagination a{
  padding: 13px 20px;
  border: 1px solid #222222;
  border-radius: 2px;
  text-align: center;
  font: normal normal bold 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #262626;
  opacity: 1;
  transition-duration: 400ms;
  transition-property: color, border;
}

.pagination a:hover{
  color: #D90012;
  border: 1px solid #D90012;
}

.pagination_nb_offre{
  margin-left: 10px;
  float: left;
  font-size: 14px;
}

.pagination_nb_offre_select{
  height: 28px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 0;
    font-size: 14px;
    text-align: center;
    vertical-align: baseline;
    outline: 0;
    box-shadow: none;
    box-sizing: initial;
}

@media screen and (max-width:1200px){
  .emploi-filters{
    justify-content: center;
  }

  .emploi-filters .button_tri_emploi, .recherche_button{
    width: auto;
  }

  .emploi-filters .button_tri_emploi button{
    min-width: 200px;
  }
}

@media screen and (max-width:1000px){

  #liste_offres{
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
  }

  .listeEmploi.banniere_unique{
    display: none;
  }

 .listeEmploi.banniere_unique_tablette{
    display: block;
    grid-column: 1/3;
    justify-self: center;
  }

  .emploi-filters{
    flex-direction: column;
    align-items: center;
  }

  .emploi-filters .button_tri_emploi{
    margin-bottom: 20px;
  }
}

@media screen and (max-width:780px) {
  #liste_offres{
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
  }

  .listeEmploi.banniere_unique_tablette{
    display: none;
  }

  .listeEmploi.banniere_unique_mobile{
    display: block;
    grid-column: 1/2;
    justify-self: center;
   }

   #filtre_flex{
    margin-bottom: 100px;
   }

   #filtre_flex::after{
    content: '';
    position: fixed;
    left: 2em;
    width: calc( 100% - 4em - 10px );
    height: 100px;
   }

   #filtre_flex::after{
    top: calc( 100% - 99px - 2em );
    background:linear-gradient(to bottom, transparent, white);
   }

   .filtre::after{
    content: '';
    position: fixed;
    top: 0;
    width: 20px;
    height: 25px;
    border-radius: 2px;
   }

   .filtre::after{
    top: calc( 100% - 35px - 2em );
    right: calc( 2em + 10px );
    content: "↓"; /* Contenu du bouton de défilement vers le bas */
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    animation-duration: 1s;
    animation-name: pump;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
}

@media screen and (max-width:600px){

  .emploi-filters .button_tri_emploi{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .emploi-filters .button_tri_emploi button{
    width: auto;
  }
  
  #distance, .recherche, #recherche{
    margin: 10px;
  }

  .recherche_button{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .legende_tri{
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
      flex-direction: column;
      align-items: center;
  }
  .supp_tri {
      margin-top: 20px;
  }
  .sous_titre_h1 {
      margin-right: 0;
      text-align: center;
  }
}