h2{
    margin-top: 0;
}

#fiche_head{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border : none;
    box-shadow: 0 2px 3px 0 gray;
    padding: 2rem;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

#informations_principales{
    display: flex;
    flex-direction: column;
}

#intitule{
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
}

#adresse, #ville, #date_de_creation{
    display: flex;
    margin-bottom: 0.7rem;
}

#adresse p, #ville p, #date_de_creation p{
    color: grey;
    margin: 0;
    font-size: 13px;
}

#adresse i, #ville i, #date_de_creation i{
    margin-right: 0.5rem;
    color: red;
    width: 2rem;
    display: flex;
    justify-content: center;
}

#bouton_postuler{
    font-size: 13px;
    border-radius: 5px;
    padding: 0.7rem 3rem;
    margin: 0 1rem;
    letter-spacing: 1px;
    font-weight: bold;
}

#fiche_content{
    display: flex;
    width: 100%;
    margin: 1rem 0;
}

#description{
    padding: 2rem;
    width: 50%;
    box-sizing: border-box;
    font-size: 15px;
}

.carte{
    width: 50%;
    border: 4px solid white;
    max-height: 400px;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.carte > iframe{
    width: 100%;
    height: 100%;
}

.liste_boites{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.boite{
    border: none;
    box-shadow: 0 0 2px 0 gray;
    padding: 1rem;
    background-color: white;
    box-sizing: border-box;
    color: gray;
    font-size: 13px;
}

.boite > *{
    margin: 0;
}

.titre_boite{
    font-weight: bold;
    color: black;
    font-size: 15px;
}

#modal{
    display: none;
    position: fixed;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#overlay{
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

#fermer_formulaire{
    z-index: 11;
    position: absolute;
    bottom: 100%;
    left: 100%;
    border-radius: 5px!important;
    padding: 0.8rem!important;
    background-color: red!important;
    color: #fff!important;
    font-size: 16px;
    font-weight: bold;
}

#envoie_candidature{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: grey;
    border: 2px solid white;
    border-radius: 5px;
}

#envoie_candidature > *{
    margin : 0.5rem;
    border-radius: 5px;
    background-color: white;
    color :grey;
    padding: 1rem;
    border: none;
}

#envoie_candidature input[type='submit']{
    border-radius: 5px;
    background-color: red;
    color: white;
    margin: 1rem;
    padding : 0.5rem 2rem;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.choix{
    display: flex;
    justify-content: space-around;
}

.valider{
    background-color: lightgreen;
    padding: 10px 10px 7px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.valider:hover{
    transform: scale(1.2);
}

.refuser{
    background-color: red;
    color: white;
    padding: 10px 10px 7px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.refuser:hover{
    transform: scale(1.2);
}

.postuler_copie{
    width:100%;
    text-align:center;
    display: none;
}


#liste_offres{
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 3rem;
  }
  
  .offre{
    display:flex;
    flex-direction: column;
    background-color: white;
    padding:2rem;
    justify-content: space-between;
    position: relative;
    box-shadow: 1px 3px #DEDEDE;
    transition-duration: 400ms;
    transition-property: box-shadow;
  }
  
  .offre:hover{
    box-shadow: 0 0 3px 5px #DEDEDE;
  }
  
  .offre:hover .bouton_lien_fiche{
    background-color: #D90017!important;
  }
  
  .corps_offre{
    display: flex;
    flex-direction: column;
  }
  
  .lien_fiche{
    text-decoration: none;
    color:darkslateblue
  }
  
  .lien_fiche_big{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .corps_offre .titre_offre{
    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    word-break: break-word;
    hyphens: auto;
  margin-top:0 !important;
    color: black;
  }
  
  .nom_entreprise{
    color: black !important;
  }
  
  .details{
    display: flex;
    margin-bottom: 1rem;
    color: black;
  }
  
  .ville, .contrat{
    display: flex;
    margin-right: 1rem;
    align-items: center;
    color: red;
  }
  
  .contrat{
    margin-left: 1rem;
  }
  
  .ville p, .contrat p{
    margin : 0;
    margin-left: 1rem;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .nom_entreprise{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin:0;
  }
  
.description{
    color: grey;
    font-size: 12px;
    margin : 1rem 0;
  }  

  .bouton_lien_fiche{
    padding : 0.5rem 1rem;
    border-radius: 5px!important;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: black!important;
    letter-spacing: 1px;
    transition-duration: 400ms;
    transition-property: background-color;
  }

  #autre_offres{
    margin-top: 40px;
  }

  #autre_offres > p{
    font-weight: 500;
    font-size: 32px;
  }


@media screen and (max-width:1080px){
    #liste_offres{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    #fiche_content{
        flex-direction: column-reverse;
    }
    #description{
        width: 100%;
        margin-top: 2rem;
    }
    .carte{
        width: 70%;
        height: calc(100vw / 100 * 30);
        margin: auto;
    }
    .liste_boites{
        grid-template-columns: repeat(3, 1fr);
    }
    .postuler_copie{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:768px){

    .liste_boites{
        grid-template-columns: repeat(2,1fr);
    }

    #fiche_head{
        flex-direction: column-reverse;
    }

    #informations_principales{
        margin-top: 2rem;
    }
    #liste_offres{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}

@media screen and (max-width:520px){
    .liste_boites{
        grid-template-columns: repeat(1,1fr);
    }
}
